# Ignore compiled object files
obj/

# Ignore the 'test' directory
test/

# Ignore executables
my_tar

# Ignore temporary files
*~

# Ignore specific files or directories
tests.sh
mirror.sh

.vscode
*.tar